.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.not-found-img {
  width: 350px;
  margin-bottom: 25px;
}

/* Home Button */
.not-found-button {
  background-color: #22c55e;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.not-found-button:hover {
  background-color: #16a34a;
  transform: translateY(-2px);
}

.not-found-button:active {
  transform: translateY(0);
}